<style>
  body {
    display: block;
    background: url('/assets/background/<%= params[:id] %>.png') no-repeat center center fixed;
    background-size: cover;
  }

</style>

<ul class="nav nav-tabs nav-justified tabbar" role="tablist">
  <% dates.each do |date| %>
    <% date_time = date.strftime('%Y-%m-%d') %>
    <li class='<%= 'active' if params[:date] == date_time %>'>
      <%= link_to date_time, score_path(params[:id], date: date_time) %>
    </li>
  <% end %>
</ul>

<div class="jumbotron mikes-jumbo">
  <%= current_date.strftime('%A, %B %e') %>
</div>

<table class="table">
  <% scores.all(params[:date]).each do |score| %>
    <tr class='scores'>
      <td class="<%= 'winner' if (score[:home_score] > score[:away_score]) %>">
        <% if teams.find(score[:home_team]) %>
          <td> <%= teams.find(score[:home_team])[:name] %></td>
        <% end %>
      </td>
      <td class="<%= 'winner' if (score[:home_score] > score[:away_score]) %>">
        <%= score[:home_score] %>
      </td>
      <td class="<%= 'winner' if (score[:away_score] > score[:home_score]) %>">
        <%= score[:away_score] %>
      </td>
      <td class="<%= 'winner' if (score[:away_score] > score[:home_score]) %>">
        <% if teams.find(score[:away_team]) %>
          <td> <%= teams.find(score[:away_team])[:name] %></td>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
