<style>
  body {
    display: block;
    background: url(<%= asset_path("background/#{params[:id]}.png") %>) no-repeat center center fixed;
    background-size: cover;
  }

</style>

<ul class="nav nav-tabs nav-justified tabbar" role="tablist">
  <% dates.each do |date| %>
    <% date_time = date.strftime('%Y-%m-%d') %>
    <li class='<%= 'active' if params[:date] == date_time %>'>
      <%= link_to date_time, score_path(params[:id], date: date_time) %>
    </li>
  <% end %>
</ul>

<div class="jumbotron mikes-jumbo">
  <%= current_date.strftime('%A, %B %e') %>
</div>

<table class="table table-hover">
  <% scores.all(current_date).each do |score| %>
      <tr>
        <td class="team-name left <%= 'winner' if (score[:home_score] > score[:away_score]) %>">
          <% if teams.find(score[:home_team]) %>
            <%= teams.find(score[:home_team])[:name] %>
          <% end %>
        </td>
        <td class="team-score left <%= 'winner' if (score[:home_score] > score[:away_score]) %>">
          <%= score[:home_score] %>
        </td>
        <td class='middle'>
          -
        </td>
        <td class="team-score right <%= 'winner' if (score[:away_score] > score[:home_score]) %>">
          <%= score[:away_score] %>
        </td>
        <td class="team-name right <%= 'winner' if (score[:away_score] > score[:home_score]) %>">
          <% if teams.find(score[:away_team]) %>
            <%= teams.find(score[:away_team])[:name] %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
